<main id="main">
    <section class="p-outer">
        <div class="p-inner p-hero">
            <div class="p-hero-left">
            <div>
                <h1>Hey Friends! 👋</h1>
                <p>I am Tyler and this is <strong>WhyWeMed!</strong></p>
                <p>I'm an aspiring doctor, studying microbiology at UMass Amherst and soon, neuroscience at Boston University!</p>
                <p>Join today as we explore all things medicine: thoughts, news, stories, study materials... you name it!</p>
            </div>
            <div class="p-hero-buttons">
                {{! Launches the Ghost membership portal }}
                <button data-portal="signup">Subscribe</button>
                {{! Link to an about page }}
                <a href="/about/">Learn more &rarr;</a>
            </div>
            </div>
            <div class="p-hero-right">
            {{! Loads the your cover image as defined in Ghost admin }}
            <img src="{{img_url @site.cover_image size="l"}}" alt="Pitcher plants" />
            </div>
        </div>
    </section>
    
    {{! First section}}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Venus flytraps</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:venus-flytrap" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

    {{! Second section }}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Sundews</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:sundew" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>


    {{! Third section }}
    <section class="p-outer">
        <div class="p-inner">
            <h2>Pitcher plants</h2>
            <div class="p-posts-grid">
                {{! Use the get helper to fetch posts }}
                {{#get "posts" filter="primary_tag:pitcher-plant" limit="6" }}
                    {{! Use the foreach helper to loop through available posts }}
                    {{#foreach posts}}
                        <article class="p-post-card">
                            {{! Use the img_url helper to bring in the post's feature image. }}
                            <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                            <h3><a href="{{url}}">{{title}}</a></h3>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

</main>
